@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: Megrim;
    src: url('../fonts/Megrim-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: Megrim;
    font-size: 1.6em;
}

.dropdown-menu {
    min-width: 120px;
}

.border-left-primary {
    border-left: 5px solid #007BFF;
}

.border-left-primary a {
    color: #007BFF !important;
}

.border-left-primary a:hover {
    color: #333 !important;
}

.border-left-secondary {
    border-left: 5px solid #6C757D;
}

.border-left-secondary a {
    color: #6C757D !important;
}

.border-left-secondary a:hover {
    color: #333 !important;
}

.border-left-warning {
    border-left: 5px solid #FFC107;
}

.border-left-warning a {
    color: #FFC107 !important;
}

.border-left-warning a:hover {
    color: #333 !important;
}

.border-left-success {
    border-left: 5px solid #28A745;
}

.border-left-success a {
    color: #28A745 !important;
}

.border-left-success a:hover {
    color: #333 !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #333;
}

.fav {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background: #007BFF;
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.fav:hover {
    background: #333;
}

.fav a {
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}


/* users part */

.user-panel {
    border-radius: 15px;
    padding: 20px;
    border-left: 5px solid #3498db;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* users part */